@import "tailwindcss";

:root {
  --background: #fff8f3;
  --foreground: #171717;
  /* header */
  --header-height: 4rem;
  --header-background: rgba(255, 248, 243, 0.5);
  --header-foreground-focus: #755b00;
  --header-foreground-color: #4d4637;
  --header-text-button-background: #c9a84c;
  --header-text-button-foreground: #503d00;
  --header-rounded: 0.375rem;
  /* hero */
  --bg-hero: url("/assets/hero.jpg");
  --hero-h1: 3rem;
  --hero-h1-color: #fff;
  --hero-p: 14px;
  --hero-p-color: #e6c364;
  --hero-btn-focus-bg: #e6c364;
  --hero-btn-focus-fg: #503d00;
  --hero-btn-bg: transparent;
  --hero-btn-fg: #e6c364;
  /* stats */
  --stats-bg: #0d0b08;
  --stats-card-bg: #18150e;
  --stats-card-label: #f5edd5;
  --stats-card-label-muted: rgba(245, 237, 213, 0.5);
  --stats-card-fg: rgba(201, 168, 76, 0.5);
  --stats-card-icon-bg: #382f19;
  --stats-card-icon-fg: #c9a84c;
  --stats-card-top-border: linear-gradient(
    90deg,
    rgba(230, 195, 100, 0.3) 0%,
    #c9a84c 50%,
    rgba(230, 195, 100, 0.3) 100%
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --header-height: var(--header-height);
  --header-background: var(--header-background);
  --header-foreground-focus: var(--header-foreground-focus);
  --header-foreground-color: var(--header-foreground-color);
  --header-text-button-background: var(--header-text-button-background);
  --header-text-button-foreground: var(--header-text-button-foreground);
  --header-rounded: var(--header-rounded);
  --bg-hero: var(--bg-hero);
  --hero-h1: var(--hero-h1);
  --hero-h1-color: var(--hero-h1-color);
  --hero-p: var(--hero-p);
  --hero-p-color: var(--hero-p-color);
  --hero-btn-focus-bg: var(--hero-btn-focus-bg);
  --hero-btn-focus-fg: var(--hero-btn-focus-fg);
  --hero-btn-bg: var(--hero-btn-bg);
  --hero-btn-fg: var(--hero-btn-fg);
  --stats-bg: var(--stats-bg);
  --stats-card-bg: var(--stats-card-bg);
  --stats-card-label: var(--stats-card-label);
  --stats-card-label-muted: var(--stats-card-label-muted);
  --stats-card-fg: var(--stats-card-fg);
  --stats-card-icon-bg: var(--stats-card-icon-bg);
  --stats-card-icon-fg: var(--stats-card-icon-fg);
  --stats-card-top-border: var(--stats-card-top-border);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff8f3;
    --foreground: #171717;
    /* header */
    --header-height: 4rem;
    --header-background: rgba(255, 248, 243, 0.5);
    --header-foreground-focus: #755b00;
    --header-foreground-color: #4d4637;
    --header-text-button-background: #c9a84c;
    --header-text-button-foreground: #503d00;
    --header-rounded: 0.375rem;
    /*  */
    --hero-border: 2px solid #755b00;
    --hero-border-inner: 1px solid #755b00;
    /* hero */
    --bg-hero: url("/assets/hero.jpg");
    --hero-h1: 3rem;
    --hero-h1-color: #fff;
    --hero-p: 14px;
    --hero-p-color: #e6c364;
    --hero-btn-focus-bg: #e6c364;
    --hero-btn-focus-fg: #503d00;
    --hero-btn-bg: transparent;
    --hero-btn-fg: #e6c364;
    /* stats */
    --stats-bg: #0d0b08;
    --stats-card-bg: #18150e;
    --stats-card-label: #f5edd5;
    --stats-card-label-muted: rgba(245, 237, 213, 0.5);
    --stats-card-fg: rgba(201, 168, 76, 0.5);
    --stats-card-icon-bg: #382f19;
    --stats-card-icon-fg: #c9a84c;
    --stats-card-top-border: linear-gradient(
      90deg,
      rgba(230, 195, 100, 0.3) 0%,
      #c9a84c 50%,
      rgba(230, 195, 100, 0.3) 100%
    );
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 95%;
  margin: 0 auto;
}
.nav-bar {
  height: var(--header-height);
  background: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 95%;
  position: fixed;
  top: 38px;
  left: 0;
  right: 0;
  backdrop-filter: blur(2);
  border-radius: var(--header-rounded);
  z-index: 10;
}
.nav-link {
  color: var(--header-foreground-color);
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.2rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.nav-link:hover {
  border-bottom: 2px solid var(--header-foreground-focus);
  color: var(--header-foreground-focus);
}
.nav-link:focus {
  border-bottom: 2px solid var(--header-foreground-focus);
  color: var(--header-foreground-focus);
}
.nav-button {
  background: var(--header-text-button-background);
  color: var(--header-text-button-foreground);
  border: none;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
  border-radius: var(--header-rounded);
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: var(--bg-hero);
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  height: 100vh;
  width: 100%;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero-h1 {
  font-size: var(--hero-h1);
  color: var(--hero-h1-color);
  z-index: 2;
}
.hero-p {
  font-size: var(--hero-p);
  color: var(--hero-p-color);
  z-index: 2;
}
.primary-btn {
  background: var(--hero-btn-focus-bg);
  color: var(--hero-btn-focus-fg);
  border-color: var(--hero-btn-focus-fg);
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.secondary-btn {
  background: var(--hero-btn-bg);
  color: var(--hero-btn-fg);
  border: 2px solid var(--hero-btn-fg);
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.bordered-div {
  border: var(--hero-border);
  padding: 1rem;
}
.bordered-inner-div {
  border: var(--hero-border-inner);
  padding: 1rem;
}
.stats-banner {
  background: var(--stats-bg);
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.stats-card {
  background: var(--stats-card-bg);
  color: var(--stats-card-fg);
  border-top: 4px solid transparent;
  border-image: var(--stats-card-top-border) 1;
  padding: 1rem;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  overflow: hidden;
}
.stats-card .stats-card-icon {
  background: var(--stats-card-icon-bg);
  color: var(--stats-card-icon-fg);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
}
.stats-card .stats-card-label {
  color: var(--stats-card-label);
  font-size: 40px;
  font-weight: bold;
}
.stats-card .stats-card-label-muted {
  color: var(--stats-card-label-muted);
  font-size: 20px;
  font-weight: normal;
}
.stats-card .stats-card-paragraph {
  color: var(--stats-card-fg);
  font-size: 14px;
  font-weight: normal;
}
.stats-banner .stats-banner-heading {
  color: var(--stats-card-icon-fg);
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}
.stats-banner .stats-banner-heading::before,
.stats-banner .stats-banner-heading::after {
  content: "";
  display: inline-block;
  width: 34.5rem;
  height: 1px;
  background: var(--stats-card-icon-fg);
}
.stats-banner .stats-banner-heading::before {
  margin-right: 0.75rem;
}
.stats-banner .stats-banner-heading::after {
  margin-left: 0.75rem;
}
