@import "tailwindcss";

:root {
  --background: #fff8f3;
  --foreground: #171717;
  --title: 3rem;
  --sub-title: 1.5rem;
  /* header */
  --header-height: 4rem;
  --header-background: rgba(255, 248, 243, 0.5);
  --header-foreground-focus: #755b00;
  --header-foreground-color: #4d4637;
  --header-text-button-background: #c9a84c;
  --header-text-button-foreground: #503d00;
  --header-rounded: 0.375rem;
  /* hero */
  --bg-hero: url("/assets/hero.jpg");
  --hero-h1: 3rem;
  --hero-h1-color: #fff;
  --hero-p: 14px;
  --hero-p-color: #e6c364;
  --hero-btn-focus-bg: #e6c364;
  --hero-btn-focus-fg: #503d00;
  --hero-btn-bg: transparent;
  --hero-btn-fg: #e6c364;
  /* stats */
  --stats-bg: #0d0b08;
  --stats-card-bg: #18150e;
  --stats-card-label: #f5edd5;
  --stats-card-label-muted: rgba(245, 237, 213, 0.5);
  --stats-card-fg: rgba(201, 168, 76, 0.5);
  --stats-card-icon-bg: #382f19;
  --stats-card-icon-fg: #c9a84c;
  --stats-card-top-border: linear-gradient(
    90deg,
    rgba(230, 195, 100, 0.3) 0%,
    #c9a84c 50%,
    rgba(230, 195, 100, 0.3) 100%
  );
  /* HERITAGE */
  --heritage-title: 1rem;
  --heritage-title-color: #755b00;
  --heritage-label: 3rem;
  --heritage-sub-label: 1.5rem;
  --heritage-label-color: #211b0f;
  --heritage-text: 1rem;
  --heritage-text-color: #4d4637;
  --heritage-link: 1rem;
  --heritage-link-color: #755b00;
  --heritage-border-color: rgba(117, 91, 0, 0.3);
  /* spaces */
  --spaces-hint-color: #4d4637;
  --spaces-hint-font-size: 12px;
  /* packages */
  --package-bg: #120e06;
  --package-title-color: #e6c364;
  --package-title-size: 12px;
  --package-header-color: #ffffff;
  --package-normal-card-bg: #1c150a;
  --package-normal-card-price-color: #e6c364;
  --package-normal-card-btn-text-color: #ffffff;
  --package-normal-card-btn-bg: transparent;
  --package-most-popular-card-bg: #2a1f0d;
  --package-most-popular-card-price-color: #ffffff;
  --package-most-popular-card-btn-text-color: #503d00;
  --package-most-popular-card-btn-bg: #c9a84c;
  --package-card-hint-size: 12px;
  --package-card-text-size: 12px;
  --package-card-text-color: #ffffff;
  /* footer */
  --footer-header-color: #ffe08f;
  --footer-bg: url("/assets/footer.png");
  --footer-text: #fff2e0;
  --footer-copy: rgba(208, 197, 178, 0.6);
  --footer-policy: #d0c5b2;
  --footer-border: #503d00;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --header-height: var(--header-height);
  --title: var(--title);
  --sub-title: var(--sub-title);
  --header-background: var(--header-background);
  --header-foreground-focus: var(--header-foreground-focus);
  --header-foreground-color: var(--header-foreground-color);
  --header-text-button-background: var(--header-text-button-background);
  --header-text-button-foreground: var(--header-text-button-foreground);
  --header-rounded: var(--header-rounded);
  --bg-hero: var(--bg-hero);
  --hero-h1: var(--hero-h1);
  --hero-h1-color: var(--hero-h1-color);
  --hero-p: var(--hero-p);
  --hero-p-color: var(--hero-p-color);
  --hero-btn-focus-bg: var(--hero-btn-focus-bg);
  --hero-btn-focus-fg: var(--hero-btn-focus-fg);
  --hero-btn-bg: var(--hero-btn-bg);
  --hero-btn-fg: var(--hero-btn-fg);
  --stats-bg: var(--stats-bg);
  --stats-card-bg: var(--stats-card-bg);
  --stats-card-label: var(--stats-card-label);
  --stats-card-label-muted: var(--stats-card-label-muted);
  --stats-card-fg: var(--stats-card-fg);
  --stats-card-icon-bg: var(--stats-card-icon-bg);
  --stats-card-icon-fg: var(--stats-card-icon-fg);
  --stats-card-top-border: var(--stats-card-top-border);
  --heritage-title: var(--heritage-title);
  --heritage-title-color: var(--heritage-title-color);
  --heritage-label: var(--heritage-label);
  --heritage-sub-label: var(--heritage-sub-label);
  --heritage-label-color: var(--heritage-label-color);
  --heritage-text: var(--heritage-text);
  --heritage-text-color: var(--heritage-text-color);
  --heritage-link: var(--heritage-link);
  --heritage-link-color: var(--heritage-link-color);
  --heritage-border-color: var(--heritage-border-color);
  --spaces-hint-color: var(--spaces-hint-color);
  --spaces-hint-font-size: var(--spaces-hint-font-size);
  --package-bg: var(--package-bg);
  --package-title-color: var(--package-title-color);
  --package-title-size: var(--package-title-size);
  --package-header-color: var(--package-header-color);
  --package-normal-card-bg: var(--package-normal-card-bg);
  --package-normal-card-price-color: var(--package-normal-card-price-color);
  --package-normal-card-btn-text-color: var(
    --package-normal-card-btn-text-color
  );
  --package-normal-card-btn-bg: var(--package-normal-card-btn-bg);
  --package-most-popular-card-bg: var(--package-most-popular-card-bg);
  --package-most-popular-card-price-color: var(
    --package-most-popular-card-price-color
  );
  --package-most-popular-card-btn-text-color: var(
    --package-most-popular-card-btn-text-color
  );
  --package-most-popular-card-btn-bg: var(--package-most-popular-card-btn-bg);
  --package-card-hint-size: var(--package-card-hint-size);
  --package-card-text-size: var(--package-card-text-size);
  --package-card-text-color: var(--package-card-text-color);
  --footer-header-color: var(--footer-header-color);
  --footer-text: var(--footer-text);
  --footer-copy: var(--footer-copy);
  --footer-policy: var(--footer-policy);
  --color-footer-border: var(--footer-border);
  --footer-bg: var(--footer-bg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff8f3;
    --foreground: #171717;
    --title: 3rem;
    --sub-title: 1.5rem;
    /* header */
    --header-height: 4rem;
    --header-background: rgba(255, 248, 243, 0.5);
    --header-foreground-focus: #755b00;
    --header-foreground-color: #4d4637;
    --header-text-button-background: #c9a84c;
    --header-text-button-foreground: #503d00;
    --header-rounded: 0.375rem;
    /*  */
    --hero-border: 2px solid #755b00;
    --hero-border-inner: 1px solid #755b00;
    /* hero */
    --bg-hero: url("/assets/hero.jpg");
    --hero-h1: 3rem;
    --hero-h1-color: #fff;
    --hero-p: 14px;
    --hero-p-color: #e6c364;
    --hero-btn-focus-bg: #e6c364;
    --hero-btn-focus-fg: #503d00;
    --hero-btn-bg: transparent;
    --hero-btn-fg: #e6c364;
    /* stats */
    --stats-bg: #0d0b08;
    --stats-card-bg: #18150e;
    --stats-card-label: #f5edd5;
    --stats-card-label-muted: rgba(245, 237, 213, 0.5);
    --stats-card-fg: rgba(201, 168, 76, 0.5);
    --stats-card-icon-bg: #382f19;
    --stats-card-icon-fg: #c9a84c;
    --stats-card-top-border: linear-gradient(
      90deg,
      rgba(230, 195, 100, 0.3) 0%,
      #c9a84c 50%,
      rgba(230, 195, 100, 0.3) 100%
    );
    /* HERITAGE */
    --heritage-title: 1rem;
    --heritage-title-color: #755b00;
    --heritage-label: 3rem;
    --heritage-sub-label: 1.5rem;
    --heritage-label-color: #211b0f;
    --heritage-text: 1rem;
    --heritage-text-color: #4d4637;
    --heritage-link: 1rem;
    --heritage-link-color: #755b00;
    --heritage-border-color: rgba(117, 91, 0, 0.3);
    /* spaces */
    --spaces-hint-color: #4d4637;
    --spaces-hint-font-size: 12px;
    /* packages */
    --package-bg: #120e06;
    --package-title-color: #e6c364;
    --package-title-size: 12px;
    --package-header-color: #ffffff;
    --package-normal-card-bg: #1c150a;
    --package-normal-card-price-color: #e6c364;
    --package-normal-card-btn-text-color: #ffffff;
    --package-normal-card-btn-bg: transparent;
    --package-most-popular-card-bg: #2a1f0d;
    --package-most-popular-card-price-color: #ffffff;
    --package-most-popular-card-btn-text-color: #503d00;
    --package-most-popular-card-btn-bg: #c9a84c;
    --package-card-hint-size: 12px;
    --package-card-text-size: 12px;
    --package-card-text-color: #ffffff;
    --package-normal-card-btn-border-color: rgba(230, 195, 100, 0.3);
    /* footer */
    --footer-header-color: #ffe08f;
    --footer-bg: url("/assets/footer.png");
    --footer-text: #fff2e0;
    --footer-copy: rgba(208, 197, 178, 0.6);
    --footer-policy: #d0c5b2;
    --color-footer-border: #503d00;

  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 95%;
  margin: 0 auto;
}
.header {
  font-size: var(--heritage-label);
  color: var(--heritage-label-color);
}
.sub-header {
  font-size: var(--heritage-sub-label);
  color: var(--heritage-label-color);
}
.nav-bar {
  height: var(--header-height);
  background: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  width: 95%;
  position: fixed;
  top: 38px;
  left: 0;
  right: 0;
  backdrop-filter: blur(2);
  border-radius: var(--header-rounded);
  z-index: 10;
}
.nav-link {
  color: var(--header-foreground-color);
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.2rem;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.nav-link:hover {
  border-bottom: 2px solid var(--header-foreground-focus);
  color: var(--header-foreground-focus);
}
.nav-link:focus {
  border-bottom: 2px solid var(--header-foreground-focus);
  color: var(--header-foreground-focus);
}
.nav-button {
  background: var(--header-text-button-background);
  color: var(--header-text-button-foreground);
  border: none;
  font-size: 14px;
  padding: 0.5rem 1.5rem;
  border-radius: var(--header-rounded);
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: var(--bg-hero);
  background-size: cover;
  background-position: center;
  color: var(--foreground);
  height: 100vh;
  width: 100%;
}
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.hero-h1 {
  font-size: var(--hero-h1);
  color: var(--hero-h1-color);
  z-index: 2;
}
.hero-p {
  font-size: var(--hero-p);
  color: var(--hero-p-color);
  z-index: 2;
}
.primary-btn {
  background: var(--hero-btn-focus-bg);
  color: var(--hero-btn-focus-fg);
  border-color: var(--hero-btn-focus-fg);
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.secondary-btn {
  background: var(--hero-btn-bg);
  color: var(--hero-btn-fg);
  border: 2px solid var(--hero-btn-fg);
  padding: 0.5rem 1rem;
  cursor: pointer;
  z-index: 2;
  transition:
    background-color 0.3s,
    color 0.3s;
}
.bordered-div {
  border: var(--hero-border);
  padding: 1rem;
}
.bordered-inner-div {
  border: var(--hero-border-inner);
  padding: 1rem;
}
.stats-banner {
  background: var(--stats-bg);
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.stats-card {
  background: var(--stats-card-bg);
  color: var(--stats-card-fg);
  border-top: 4px solid transparent;
  border-image: var(--stats-card-top-border) 1;
  padding: 1rem;
  width: 270px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 0.5rem;
  overflow: hidden;
}
.stats-card .stats-card-icon {
  background: var(--stats-card-icon-bg);
  color: var(--stats-card-icon-fg);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15%;
}
.stats-card .stats-card-label {
  color: var(--stats-card-label);
  font-size: 40px;
  font-weight: bold;
}
.stats-card .stats-card-label-muted {
  color: var(--stats-card-label-muted);
  font-size: 20px;
  font-weight: normal;
}
.stats-card .stats-card-paragraph {
  color: var(--stats-card-fg);
  font-size: 14px;
  font-weight: normal;
}
.stats-banner .stats-banner-heading {
  color: var(--stats-card-icon-fg);
  font-size: 1rem;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
}
.stats-banner .stats-banner-heading::before,
.stats-banner .stats-banner-heading::after {
  content: "";
  display: inline-block;
  width: 34.5rem;
  height: 1px;
  background: var(--stats-card-icon-fg);
}
.stats-banner .stats-banner-heading::before {
  margin-right: 0.75rem;
}
.stats-banner .stats-banner-heading::after {
  margin-left: 0.75rem;
}
.heritage-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.heritage-section .title {
  font-size: var(--heritage-title);
  color: var(--heritage-title-color);
}
.heritage-section .title::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--heritage-title-color);
  margin-right: 0.5rem;
}

.heritage-section .text {
  font-size: var(--heritage-text);
  color: var(--heritage-text-color);
}
.heritage-section .link {
  font-size: var(--heritage-link);
  color: var(--heritage-link-color);
  text-decoration: none;
}
.heritage-section .link::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: var(--heritage-title-color);
  margin-right: 0.5rem;
}
.image-wrapper {
  position: relative;
}
.image-wrapper .single-image-wrapper {
  width: 432px;
  height: 540px;
  /* object-fit: cover; */
  object-fit: contain;
}
.image-wrapper .single-image-wrapper .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-wrapper .border {
  border: 1px solid var(--heritage-border-color);
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.heritage-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}
.spaces-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
  text-align: center;
}
.spaces-section .spaces-image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
}
.spaces-sub-title {
  font-size: var(--heritage-sub-label);
  color: var(--heritage-label-color);
}
.spaces-hint {
  font-size: var(--spaces-hint-font-size);
  color: var(--spaces-hint-color);
}
.packages-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
  text-align: center;
  background-color: var(--package-bg);
}
.packages-section .label {
  font-size: var(--package-title-size);
  color: var(--package-title-color);
}
.packages-section .header {
  font-size: var(--title);
  color: var(--package-header-color);
}
.packages-section .packages-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 3rem;
  margin-top: 3rem;
}
.packages-section .packages-title {
  font-size: var(--title);
  color: var(--package-header-color);
}
.packages-section .packages-sub-title {
  font-size: var(--sub-title);
  color: var(--package-header-color);
}
.packages-section .text {
  font-size: var(--package-card-text-size);
  color: var(--package-card-text-color);
}
.packages-section .normal-package .note,
.packages-section .premium-package .note {
  position: absolute;
  background-color: #ffffff;
  color: #0d0b08;
  padding: 5px 2rem;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.packages-section .normal-package {
  position: relative;
  background-color: var(--package-normal-card-bg);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  padding: 2rem;
}
.packages-section .premium-package {
  position: relative;
  background-color: var(--package-most-popular-card-bg);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  padding: 2rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: #ffffff 1px solid;
  transform: scale(1.1);
}
.packages-section .normal-package .price {
  font-size: var(--sub-title);
  color: var(--package-normal-card-price-color);
}
.packages-section .normal-package .price .hint {
  font-size: var(--package-card-hint-size);
  color: var(--package-normal-card-price-color);
}
.packages-section .premium-package .price {
  font-size: var(--sub-title);
  color: var(--package-most-popular-card-price-color);
}
.packages-section .premium-package .price .hint {
  font-size: var(--package-card-hint-size);
  color: var(--package-most-popular-card-price-color);
}
.packages-section .normal-package .btn {
  background-color: var(--package-normal-card-btn-bg);
  color: var(--package-normal-card-btn-text-color);
  padding: 0.5rem 1rem;
  border: 2px solid var(--package-normal-card-btn-border-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
.packages-section .normal-package .btn:hover {
  background-color: var(--package-most-popular-card-btn-bg);
  color: var(--package-most-popular-card-btn-text-color);
}
.packages-section .premium-package .btn {
  background-color: var(--package-most-popular-card-btn-bg);
  color: var(--package-most-popular-card-btn-text-color);
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  align-self: center;
  width: 100%;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
.packages-section .premium-package .btn:hover {
  background-color: var(--package-normal-card-btn-bg);
  color: var(--package-normal-card-btn-text-color);
  border: 2px solid var(--package-normal-card-btn-border-color);
}
.packages-section ul {
  margin-left: 10px;
}
.packages-section ul li {
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}
.packages-section ul li::before {
  content: "✓";
  position: absolute;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  font-size: 12px;
  color: var(--package-normal-card-price-color);
}
.footer-section{
  text-align: center;
  background-image: var(--footer-bg);
  background-size: cover;
  background-position: center;
  color: var(--footer-text);
  position: relative;
}
.footer-section::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.footer-section .title{
  font-size: 2rem;
  color: var(--footer-header-color);
}
.footer-section .links-title{
  font-size: 16px;
  color: var(--footer-header-color);
}
.footer-section .text{
  font-size:16px;
  color: var(--footer-text);
}
.footer-section .links{
  font-size:16px;
  color: var(--footer-text);
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}
.footer-section .links:hover{
  color: var(--footer-header-color);
}

.footer-section .copy{
  font-size:14px;
  color: var(--footer-copy);
}
.footer-section .dev{
  font-size:14px;
  color: var(--footer-policy);
  text-decoration: none;
}
